{{define "Index"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loja</title>
</head>
<body>
    <h1>Alura loja</h1>
    <table>
        <thead>
            <tr>
                <th>Nome</th>
                <th>Descrição</th>
                <th>Preço</th>
                <th>Quantidade</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Camisa</td>
                <td>Camisa de algodão</td>
                <td>R$ 90,00</td>
                <td>5</td>
            </tr>
            <tr>
                <td>Top</td>
                <td>Top compressão</td>
                <td>R$ 50,00</td>
                <td>3</td>
            </tr>
        </tbody>
    </table>
</body>
</html>
{{end}}
